@import "tailwindcss";

@theme {
  --color-primary: #0561b2;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  margin: 0 auto;
  text-align: center;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
